.collection-status {
    display: flex;
    justify-content: center;
}
.gensis {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}